#sound-on-off
{
	background-image: url('Photos/soundon.png');
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid black;
	width: 45px;
	height: 45px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50px;
	margin:5px;
	z-index: 2;

}

#single_page, #versus , #versus2
{
	background-color: rgb(15,161,156);
}

#mainBoard , #mainBoard2
{
	/*width: 250px; */
	width: 293px;
	height: 320px;
	border: 3px solid black;
	position: absolute;
	top: 55%;
	margin-top: -140px ;
	left: 50%;
	margin-left: -146.5px ;
	background-color: white;

}

#enemy , #enemy2
{
	width: 115px;
	height: 115px;
	margin: 10px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;	
}

#reroll , #reroll2
{

	text-align: center;
	width: 25px;
	height: 25px;
	border: none;
	margin: 10px 0px 25px 25px;
	background-color: rgb(15,161,156); 
	background-image: url("Photos/reroll.png");
	background-size: contain;
	background-repeat: no-repeat;
}

#loading_img
{	
	position: absolute;
	top: 35%;
	left: 30%;
	width: 150px;
	height: 150px;
	border: none;
	background-image: url("Photos/Loading2.gif");
	background-size: contain;
	background-repeat: no-repeat;
}

.box , .box2
{
	width: 40px;
	height: 40px;
	border: 1px solid black;
	text-align: center;
	margin: auto;
	font-size: 25px;
	font-weight: bold;

}

#answerBox , #answerBox2
{	
	width: 35px;
	height: 35px;
	border: 3px solid lightblue;
	text-align: center;
	font-size: 22px;
}

#incBtn
{
	width: 10px;
	height: 30px;
	text-align: center;
	border: none;
	background-color: rgb(15,161,156);
	background-image: url("Photos/incre.png");
	background-repeat: no-repeat;
	background-size: contain;
	
}

#decBtn
{

	width: 10px;
	height: 30px;
	border: none;
	text-align: center;
	background-color: rgb(15,161,156);
	background-image: url("Photos/decre.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#equationBar , #equationBar2
{
	
	text-align: center;
	font-weight: bold;
}

.eq-bar
{
	
	width: 350px;
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -175px;
		
}


#backBtn , #backBtn2
{
	width: 35px;
	height: 40px;
	border: none;
	background-color: rgb(15,161,156);
	background-image: url("Photos/backspace.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 12%;
	bottom: 5%;

}

#goBtn , #goBtn2
{	
	width: 35px;
	height: 40px;
	border-radius: 20px;
	background-color: rgb(15,161,156);
	background-image: url("Photos/gobtn2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	right: 10%;
	bottom: 5%;

}
.disabled, .disabled2
{
	pointer-events: none;
	background-color: grey ;
}

.noEvent
{
	pointer-events: none;
}

.highlighted , .highlighted2
{	
	pointer-events: none;
	background-color: lightgreen;
}

#gameOverPage , #gameOverPage2 , #winnerp1 , #loserp1 , #winnerp2 , #loserp2
{
	background:none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;
}




.waitingPage , .waitingPage2
{
	background: url("Photos/ABversusload.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;	
}

#ready_check , #ready_check2
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;
	color: black !important;
}

#match_ready , #match_ready2
{
	color: black !important;
	font-size: 36px !important;
	background: none !important;
	border-width: 3px !important;
}

#match_ready_main , #match_ready_main2
{
	width: 324px;
	position: absolute;
	top: 50%;
	margin-top: -51px;
	left: 50%;
	margin-left: -162px;
}

.waiting-content
{
	
	
	position: absolute;
	left: 50%;
	margin-left: -120.5px;
	top: 65%;
	margin-top: -100px;

}



#gameOverButtons, #gameOverButtons2 , #gameOverButtonsWP1 , #gameOverButtonsWP2 , #gameOverButtonsLP1 , #gameOverButtonsLP2 ,
{
	margin: 50% 0 0 0;
	
}

#gameOverButtons
{
	position: absolute;
	top: 50%;
	margin-top: -190.6px;
	left: 50%;
	margin-left: -157px;
}

#over_menu_btnWP1 , #over_exit_btnWP1 , #over_menu_btnLP1 , #over_exit_btnLP1 , #over_menu_btnWP2 , #over_exit_btnWP2 , 
#over_menu_btnLP2 , #over_exit_btnLP2 , #rematchWP1 , #rematchLP1 , #rematchWP2 , #rematchLP2
{
	color: black !important;
}

#mesWP1 , #mesWP2
{
	border:none;
	color: rgb(0,255,64) !important;
}

#mesLP1 , #mesLP2
{
	border:none;
	color: rgb(215,0,0) !important;
}

#gameOverButtons a , #gameOverButtons2 a , #gameOverButtonsWP1 a , #gameOverButtonsWP2 a , #gameOverButtonsLP1 a , #gameOverButtonsLP2 a
{
	font-size: 36px !important;
	background: none !important;
	color: black;
	border-width: 3px !important;
}

#gameOverButtons a:hover , #gameOverButtons2 a:hover , #gameOverButtonsLP1 a:hover , #gameOverButtonsLP2 a:hover,
#gameOverButtonsWP1 a:hover , #gameOverButtonsWP2 a:hover
{
	background-color: blue;
}


/* CSS FOR TUTORIAL */
#tut_page
{
	background-color: rgb(15,161,156);
}

.bg
{
	background-color: rgb(15,161,156) !important;
}

#blutut
{
	border: 1px solid black;
}





.tut_element
{
	text-align: center;
}

.elem_name
{
	font-weight: bold;
	font-size: 18px;
}

.elem_right
{
	width: 50%;
	float: right;
}
.elem_left
{
	width: 45%;
}
.clear
{
	width: 100%;
	height: 15px;
	background-color: grey;
}

.tut_div
{
	border: 2px solid black;
	padding: 15px;
}


/* CSS FOR MAIN MENU AND ETC */
@font-face {
font-family: 'Crosshatcher';
src: url('fonts/Crosshatcher D.otf') format("opentype");
}
@font-face {
font-family: 'KGsketch';
src: url('fonts/KGBlankSpaceSketch.ttf') format("truetype");
}

.crosshatcher
{
	font-family: "Crosshatcher" !important;
	color: white !important;
}
.KGsketch
{
	font-family: "KGsketch" !important;
	color: white !important;	
}


.center
{
	text-align: center;
}

.transparent
{
	background: none !important;

}
.rounded
{
	border-radius: 25px !important;
}
.noborder
{
	border: none !important;
}
.bold
{
	font-weight: bold !important;
}
.white
{
	color: white !important;
}

#menu_page, #CSP , #signal-page
{
	background-color: rgb(0,137,132) !important;
}

#playerchoose
{
	margin-top: 30%;

}

#client , #playerone
{
	font-size: 28px !important;
	background: none !important;
	color: black;
	border-width: 3px !important;
	border-radius: 20px;
}

#incoming
{
	visibility: visible;
}

#connect
{
	width: 320px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -160px;
	margin-top: -140.78px;
	


}

#connected
{
	text-align:center;
	font-size:26px;
	display:none;
	color:#1e45ae;
}


#deviceList 
{
    
	 font-size:24px !important;
	 text-align: center;
	
	 
}

#sel .ui-select .ui-btn select 
{
	background-color: rgb(0,137,132);
	opacity: 1;
	z-index: 0;
	color: white;
	text-align: center;
	padding-left:30%;


}

#bl-list
{
	
	font-size:15px;
	width: 150px;
	left: 50%;
	margin-left: -75px;
	border-radius: 45px;
	background: none;
	color: white;
}

#initConn
{
	
	 font-size:24px;
	/* background:#3333ff; */
	 background-color: rgb(50,118,231) ;
	 color:white;
	 border-radius: 20px;
	    
}



#sendSDP
{
	
	font-size:24px;
	background-color: rgb(12,219,85) !important;
	color: white;
	
}

#disconnect
{

	
	 font-size:16px;
	  background:crimson;
	  color:white;
	  display:block;
	  border-radius: 20px;
	     
}

#vm
{
	
	width: 100%;
	text-align: center;
	font-size: 36px;
	color: white;
	z-index: 2;
	padding: 0;
	margin: 0;
}

#menu_buttons
{
	
	
	width: 90%;
	position: absolute;
	top: 50%;
	margin-top: -164px;

	
}

.size18
{
	font-size: 18px;
}

.size24
{
	font-size: 24px;
}

.size36
{
	font-size: 36px;
}

.bottom
{
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -107.5px;
}

.top
{
	width: 90%;
	position: absolute;
	top: 5%;
}

.countdown
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;	

}

.countdown-content
{
	
	
	position: absolute;
	left: 50%;
	top: 50%;
	height: 170px;
	margin-left: -55.5px;
	margin-top: -130px ;
	
	
}

.count-num
{
	font-size: 200px;
	color: black !important;
	margin: 0;
	padding: 0;
}